{% extends "base.html"%}
{% block content %}
{{block.super}}

<div class="container">

  <div class="row">
    {% if images %}
      <h2>Found {{ images|length }} images of {{message}}</h2>
    {% else %}
      <h2> Found 0 images for {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.image_category}}</h1>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-right:5%">
            <img src="{{image.pic_image.url}} " width="300" height="200" class="img-responsive" alt="Image">
          </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}